body{
    width: 360px;
    padding: 0;
    margin: 0;
}

.container > *{
    padding: 6px 0px;
    margin: 6px 24px;
    display: flex;
    flex-direction: column;
    font-size: small;
}

.footer{
    width: 100%;
    padding: 1.0em 0;
    background-color: #eee;
    color: #444;
    font-size: smaller;
    text-align: center;
}

.setting-item{
    display: flex;
    align-items: center;
}

.setting-item label{
    margin-left: 4px;
}

.button-save-container{
    margin-top: 1.0em;
    margin-left: auto;
    margin-right: auto;
}

button{
    font-size: small;
}

#weekdayTabsContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5em;
}

#weekdayTabsContainer .weekday-tab{
    width: calc(100% / 6);
    text-align: center;
}

#weekdayTabsContainer .weekday-tab.active{
    font-weight: bold;
    cursor: default;
    border-bottom: 2px gray solid;
}

#weekdayTabsContainer .weekday-tab:not(.active){
    cursor: pointer;
    color: gray;
    border-bottom: 1px lightgray solid;
}

#weekdayTabsContainer .weekday-tab:not(.active):hover{
    color: inherit;
    border-bottom: 1px gray solid;
}

ol#timetableTutorial{
    padding-inline-start: 14px;
}

#timetable{
    border-bottom: 1px lightgray solid;
}

#timetable .timetable-data-time{
    vertical-align: baseline;
}

#timetable .subject-title{
    font-weight: bold;
}

#timetable .venue{
    display: inline-block;
    min-width: 50%;
}

#timetable .time-term{
    font-size: x-small;
    color: gray;
    
}

#timetable .timetable-data-subject{
    max-width: 236px;
    width: 236px;
    line-height: 20px;
}

#timetable .timetable-data-subject-dummy{
    height: 40px;
}

#timetable .subject-detail{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}