// サイドメニューの動きを自然にする
.sidemenu{
    left: 0px;

    &.sidemenu-close{
        width: 301px;
        white-space: normal;
        left: -301px;
    }
}

// リンクをマウスオーバー時に明るくする
.sidemenu-link{
    filter: brightness(1);

    &:hover{
        filter: brightness(1.05);
    }
}